body {
  font-family: "Hanken Grotesk", serif;
  font-weight: 400;
}
code {
  font-family: Monaco, monospace;
  font-size: 85%;
}
.menu, .meta-line, footer {
  font-family: "Hanken Grotesk", sans-serif;
}

h1, h2, h3 {
  font-family: "Hanken Grotesk";
  font-weight: 600;
}

h2 {
  font-size: 18pt;
  font-weight: 600;
}

strong {
  font-weight: 600;
}
